[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
Assets/AssetStoreTools*
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.svd.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
*.apk
*.aab
*.obb
*.log
*.log.gz
*.prof
*.pid
*.dll
*.exe
*.so
*.dylib
*.nupkg
*.map
*.ipa
*.DS_Store
*.mobileprovision
*.profraw
*.sig
*.symbols
.DS_Store
builds
.vs